In [1]:
2*2 #comment

4

In [7]:
5**5 #5 is power of 5

3125

In [8]:
5*5*5*5*5

3125

In [9]:
#Non decimal values are called int
age = 21
type(age)

int

In [10]:
#the "" represnts are called str
age = "21"
type(age)

str

In [20]:
# to convert any statements true ,boolen are used 0 = false,1 = true
issix = 5
bool(1)

True

In [21]:
# list are  combination of different variables
list = ()
type(list)
#tuples are non chanagable

tuple

In [22]:
list = []
type(list)
#list are changable

list

In [28]:
items = [1,2]
type(items)

list

In [32]:
items.append(3)

TypeError: list.append() takes exactly one argument (2 given)

In [34]:
items

[1, 2, 3]

In [36]:
items.remove(3)

In [37]:
items

[1, 2]

In [40]:
items.insert(1,3)#position and number which was to add

In [41]:
items

[1, 3, 2]

In [47]:
items.add(1,4)

AttributeError: 'list' object has no attribute 'add'

In [48]:
items

[1, 3, 2]

In [50]:
items.remove(2)

ValueError: list.remove(x): x not in list

In [ ]:
items.append(3)

In [51]:
items

[1, 3]

In [52]:
#unique set 
age = set()
type(age)

set

In [ ]:
#sum is add the total sets