In [9]:
print("hello " + name)

hello Tharun

In [17]:
name= "tharun"
age="21"
qualification="btech"
year="2021"

In [18]:
print('my name is :',name,'aged :',age,'completed :',qualification,)

my name is : tharun aged : 21 completed : btech

In [20]:
print("my name is %s and im on %s old and completed %s"%(name,age,qualification))

my name is tharun and im on 21 old and completed btech

In [21]:
print("my name is %s and im on %s old and completed %s"%(age,name,qualification))

my name is 21 and im on tharun old and completed btech

In [23]:
print("my name is {} and im on {} old and completed {}".format(name,age,qualification))

my name is tharun and im on 21 old and completed btech

In [26]:
print("my name is {} and im on {} old".format(name,age,qualification))

my name is tharun and im on 21 old

In [31]:
print("my name is {2} and im on {1} old and completed {0}".format(name,age,qualification))

my name is btech and im on 21 old and completed tharun

In [ ]:
#list = stores multiple items in a single variables

In [10]:
thislist = ["apple","banana","mango"]
print(thislist)

['apple', 'banana', 'mango']

In [11]:
print(len(thislist))

3

In [12]:
type(thislist)

list

In [20]:
print(thislist[1])

banana

In [21]:
print(thislist[-1])

mango

In [24]:
print(thislist[:2])

['apple', 'banana']

In [25]:
if "apple" in thislist:
    print("yes")

yes

In [34]:
print(thislist)

['apple', 'banana', 'mango']

In [35]:
thislist = ["apple","banana","mango"]
thislist.append("watermelon")
print(thislist)

['apple', 'banana', 'mango', 'watermelon']

In [36]:
thislist.insert(2,"orange")
print(thislist)

['apple', 'banana', 'orange', 'mango', 'watermelon']

In [40]:
tropical = ["mango","pineapple","papaya"]
thislist = ['apple', 'banana', 'orange', 'mango', 'watermelon']
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'orange', 'mango', 'watermelon', 'mango', 'pineapple', 'papaya']

In [ ]:
 #tuple collection of ordered and unchanged

In [43]:
thistuple = ("a","b","c","d")
print(thistuple)

('a', 'b', 'c', 'd')

In [44]:
type(thistuple)

tuple

In [45]:
print(thistuple[1])

b

In [46]:
print(thistuple[-1])

d

In [47]:
print(thistuple[1:3])

('b', 'c')

In [48]:
if "a" in thistuple:
    print("yes")

yes

In [49]:
x = ("a","b","c","d")
y = list(x)
y[1] = "m" # single values are added
x = tuple(y)
print(x)

('a', 'm', 'c', 'd')

In [50]:
x = ("a","b","c","d")
y = list(x)
y.append("o")
x = tuple(y)
print(x)

('a', 'b', 'c', 'd', 'o')

In [51]:
x = ("a","b","c","d")
y = ("1","2","3")# adding multiple vales are added
x +=y
print(x)

('a', 'b', 'c', 'd', '1', '2', '3')

In [52]:
x = ("a","b","c","d")
y = list(x)
y.remove("c")# removing
x = tuple(y)
print(x)

('a', 'b', 'd')

In [55]:
x = ("a","b","c","d")
(one,two,three) = y
print(one)
print(three)

a
d

In [59]:
x = ("a","b","c","d","e","f")
(one,two,*three) = y
print(three)

['d']

In [ ]:
#dict stored data values in key:value pairs

In [61]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}

In [62]:
type(thisdict)

dict

In [63]:
print(thisdict["year"])

1964

In [64]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}

x=thisdict.values()
print(x)

dict_values(['ford', 'mustang', '1964'])

In [65]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}

x=thisdict.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', '1964')])

In [66]:
if "model" in thisdict:
    print("yes")

yes

In [67]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
thisdict.update({"year":2000})
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2000}

In [68]:
for x in thisdict:
    print(x)

brand
model
year

In [69]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":"1964"
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}